{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<div class="d-flex">
  <div style="width:10ex;">
    <nav class="nav flex-column ">{% comment %} 상단고정? {% endcomment %}
      <li class="nav-item ">
        <a class="nav-link text-dark" aria-current="page" href="{% url 'app1:index' %}">메인</a> {% comment %} index경로  {% endcomment %}
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="https://github.com/ANDONGWOO/TIL">링크</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">3번</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">4번</a>
      </li>
    </nav>
  </div>
  <div class="container">
  {% for index_content in index_contents %}
      <div class="card m-2 text-dark">
        <a class="card-header fw-bold" href="{% url 'app1:detail' index_content.pk %}" style="text-decoration: none;">{{ index_content.title }}</a>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ index_content.content }}</p>
          </blockquote>
        </div>
      </div>
  {% endfor %}
    <div class="m-5 d-flex justify-content-center">
      <nav aria-label="Page navigation example ">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">이전</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">다음</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
