{% load django_bootstrap5 %} {% comment %} html에 개별 적용 {% endcomment %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% block css %}{% endblock css %} 
  </head>

  <body>
      <nav class="navbar navbar-light bg-dark sticky-top">
        <div class="container-fluid d-flex">
          <a class="navbar-brand text-white" href="{% url 'app1:index' %}">기술블로그</a>
          <form class="d-flex" role="search" action="{% url 'app1:search' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ q }}">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container">
      {% block body %}
      

      {% endblock body %}
      </div>
      {% bootstrap_javascript %}
  </body>
</html>